<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package 
		Name="AssemblyInfo" 
		Language="1033" 
		Codepage="1252" 
		Version="1.2.0.0" 
		Manufacturer="Refactor Software" 
		UpgradeCode="30d3e037-13d8-40b4-9cd5-ac36d54e376c" 
		InstallerVersion="200" 
		>
		
    <SummaryInformation Keywords="Installer" Description="AssemblyInfo provides inspection of Windows assemblies" Manufacturer="Refactor Software"  />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Icon Id="AssemblyInfo_128.ico" SourceFile="$(var.AssemblyInfo.ProjectDir)AssemblyInfo_128.ico" />
    <Property Id="ARPPRODUCTICON" Value="AssemblyInfo_128.ico" />
    <Feature Id="Complete" Title="AssemblyInfo 1.1.1" Description="AssemblyInfo application" Level="1" Display="expand" ConfigurableDirectory="INSTALLFOLDER">
      <Feature Id="ProductFeature" Title="AssemblyInfo Application" Description="AssemblyInfo application" Level="1">
        <ComponentGroupRef Id="ProductComponents" />
        <ComponentRef Id="ApplicationShortcut" />
      </Feature>
    </Feature>
    <WixVariable Id="WixUIDialogBmp" Value="Dialog.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="Banner.bmp" />
    <WixVariable Id="WixUIInfoIco" Value="Info.bmp" />
    <UI Id="Mondo">
      <ui:WixUI Id="WixUI_Mondo" />
      <UIRef Id="WixUI_ErrorProgressText" />
      <!-- skip license agreement -->
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="SetupTypeDlg" Order="3" />
      <Publish Dialog="SetupTypeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="3" />
    </UI>
  </Package>

  <Fragment>
      <StandardDirectory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="AssemblyInfo" />
      </StandardDirectory>
    </Fragment>

  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="ApplicationShortcut" Guid="10dccc3d-5e68-4685-a4c1-94c44188fdd6">
        <RegistryValue Root="HKLM" Key="Software\RefactorSoftware\AssemblyInfo" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        <RegistryValue Root="HKCR" Key="*\shell\AssemblyInfo" Type="string" Value="Open with Assembly&amp;Info" Action="write" />
        <RegistryValue Root="HKCR" Key="*\shell\AssemblyInfo\command" Type="string" Value="&quot;[#AssemblyInfoEXE]&quot; --filename &quot;%1&quot;" Action="write" />
        <RegistryValue Root="HKCR" Key="*\shell\AssemblyInfo" Name="icon" Type="string" Value="[#AssemblyInfoEXE]" Action="write" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="AssemblyInfo" Guid="10dccc3d-5e68-4685-a4c1-94c44188fdd4" Bitness="always64">
        <File Id="AssemblyInfoEXE" Name="AssemblyInfo.exe" Source="..\AssemblyInfo\bin\publish\AssemblyInfo.exe" KeyPath="yes" Checksum="yes" ProcessorArchitecture="x64" />
      </Component>
      <Component Id="AssemblyInfopdb" Guid="a1b52bdc-d261-444b-b055-5a1fcbb435cb" Bitness="always64">
        <File Id="AssemblyInfoPDB" Name="AssemblyInfo.pdb" Source="..\AssemblyInfo\bin\publish\AssemblyInfo.pdb" KeyPath="yes" ProcessorArchitecture="x64" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
